/*******************************************************************************
 *                                                                             *
 * "Yellow on Black" contrast theme.                                           *
 *                                                                             *
 ******************************************************************************/

* {
	primary-contrast-color: yellow;
	secondary-contrast-color: black;
	-fx-font-family: arial;
	-fx-font-size: 12.0;
	-fx-text-fill: primary-contrast-color;
}

.root {

    -fx-base: secondary-contrast-color;
    -fx-background: -fx-base;
    -fx-control-inner-background: -fx-base;
    -fx-control-inner-background-alt: -fx-base;
    -fx-faint-focus-color: -fx-accent;
    -fx-hover-base: primary-contrast-color;
    -fx-pressed-base: derive(-fx-hover-base, -18.0%);
    -fx-box-border: -fx-hover-base;
    -fx-text-box-border: -fx-hover-base;
    -fx-shadow-highlight-color: -fx-base;
    -fx-outer-border: -fx-hover-base;
    -fx-light-text-color: -fx-hover-base;
    -fx-mark-color: -fx-hover-base;
}
/*******************************************************************************
 *                                                                             *
 * Font Weight                                                                 *
 *                                                                             *
 ******************************************************************************/
.text,
.text-input {
    -fx-font-weight: bold;
}
.axis {
    -fx-tick-label-font-weight: bold;
}
/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/
.label {
    -fx-text-fill: -fx-hover-base;
}
/* ====   CHOICE BOX LIKE THINGS   ========================================== */
.choice-box:hover > .label,
.menu-button:hover > .label,
.color-picker:hover > .label,
.split-menu-button:hover > .label,
.choice-box:showing > .label,
.menu-button:armed > .label,
.color-picker:showing > .label,
.split-menu-button:armed > .label {
    -fx-text-fill: -fx-mark-color;
}
/*******************************************************************************
 *                                                                             *
 * ToggleButton                                                                *
 *                                                                             *
 ******************************************************************************/
.toggle-button:selected,
.toggle-button:selected:focused {
    -fx-light-text-color: -fx-base;
}
.toggle-button:selected:armed,
.toggle-button:selected:focused:armed {
    -fx-mid-text-color: -fx-base;
}
.toggle-button:selected { 
    -fx-background-color: -fx-shadow-highlight-color, -fx-hover-base, -fx-hover-base;
}
.toggle-button:selected:focused {
    -fx-background-color: -fx-focus-color, -fx-hover-base, -fx-faint-focus-color, -fx-hover-base;
}
.toggle-button:selected:armed {
    -fx-background-color: -fx-shadow-highlight-color, -fx-hover-base, -fx-faint-focus-color, -fx-pressed-base;
}
.toggle-button:selected:focused:armed {
    -fx-background-color: -fx-focus-color, -fx-hover-base, -fx-faint-focus-color, -fx-pressed-base;
}
/*******************************************************************************
 *                                                                             *
 * Slider                                                                      *
 *                                                                             *
 ******************************************************************************/
.slider .thumb {
    -fx-background-color: -fx-hover-base, -fx-hover-base, -fx-body-color;
}
.slider:focused .thumb {
    -fx-background-color: -fx-focus-color, -fx-hover-base, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
}
/*******************************************************************************
 *                                                                             *
 * ScrollBar                                                                   *
 *                                                                             *
 ******************************************************************************/
.scroll-bar > .increment-button, 
.scroll-bar > .decrement-button {
    -fx-background-color: -fx-outer-border, -fx-base, -fx-base;
}
.scroll-bar > .increment-button:hover, 
.scroll-bar > .decrement-button:hover {
    -fx-background-color: -fx-outer-border, -fx-hover-base, -fx-hover-base;
}
.scroll-bar > .increment-button:hover > .increment-arrow, 
.scroll-bar > .decrement-button:hover > .decrement-arrow,
.scroll-bar > .increment-button:hover:pressed > .increment-arrow, 
.scroll-bar > .decrement-button:hover:pressed > .decrement-arrow {
    -fx-background-color: -fx-base, -fx-base;
}
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-hover-base, -fx-hover-base;
}
.scroll-bar > .increment-button:hover:pressed, 
.scroll-bar > .decrement-button:hover:pressed {
    -fx-background-color: -fx-outer-border, -fx-pressed-base, -fx-pressed-base;
}
.scroll-bar:horizontal > .decrement-button > .decrement-arrow,
.scroll-bar:horizontal > .increment-button > .increment-arrow,
.scroll-bar:vertical > .decrement-button > .decrement-arrow,
.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-effect: null;
}
.scroll-bar > .thumb:pressed {
    -fx-background-color: -fx-outer-border, -fx-pressed-base, -fx-pressed-base; 
}
/*******************************************************************************
 *                                                                             *
 * PopupMenu                                                                   *
 *                                                                             *
 ******************************************************************************/
.context-menu {
    -fx-background-color: -fx-hover-base, -fx-control-inner-background;
}
.context-menu > .scroll-arrow > .menu-up-arrow,
.context-menu > .scroll-arrow > .menu-down-arrow {
    -fx-background-color: -fx-hover-base;
}
.context-menu > .scroll-arrow:hover > .menu-up-arrow,
.context-menu > .scroll-arrow:hover > .menu-down-arrow {
    -fx-background-color: secondary-contrast-color;
}
/*******************************************************************************
 *                                                                             *
 * MenuBar                                                                     *
 *                                                                             *
 ******************************************************************************/
.menu-bar {
    -fx-background-color: -fx-hover-base, -fx-base;
    -fx-background-insets: 1.0 1.0 0.0 1.0, 1.0;
}
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing  > .label {
    -fx-text-fill: secondary-contrast-color !important;
}
/*******************************************************************************
 *                                                                             *
 * Menu                                                                        *
 *                                                                             *
 ******************************************************************************/
.menu:focused > .right-container > .arrow {
    -fx-background-color: secondary-contrast-color;
}
.menu-up-arrow, .menu-down-arrow {
    -fx-effect: null;
}
/*******************************************************************************
 *                                                                             *
 * MenuItem                                                                    *
 *                                                                             *
 ******************************************************************************/
.menu-item:focused > .label {
    -fx-text-fill: secondary-contrast-color;
}
.radio-menu-item:focused:checked > .left-container > .radio,
.check-menu-item:focused:checked > .left-container > .check {
    -fx-background-color: secondary-contrast-color;
}
/*******************************************************************************
 *                                                                             *
 * TabPane                                                                     *
 *                                                                             *
 ******************************************************************************/
.tab-header-area {
    -fx-text-box-border: -fx-base;
}
.tab-pane{
	-fx-hover-base: derive(secondary-contrast-color, 100.0%);
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected:hover {
    -fx-background-color: -fx-hover-base;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 4.0;
    -fx-border-color: -fx-focus-color;
    -fx-border-insets: -4.0 -4.0 -7.0 -5.0;
    -fx-border-radius: 1.0;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:bottom:selected .focus-indicator {
    -fx-border-insets: -7.0 -5.0 -4.0 -4.0;
}
.tab-pane:bottom > .tab-header-area > .tab-header-background,
.tab-pane:left > .tab-header-area > .tab-header-background,
.tab-pane:right > .tab-header-area > .tab-header-background {
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0, 1.0;
}
/*******************************************************************************
 *                                                                             *
 * ComboBox                                                                    *
 *                                                                             *
 ******************************************************************************/
.combo-box-popup > .list-view {
    -fx-background-color: -fx-outer-border, -fx-control-inner-background;
}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled {
    -fx-text-fill: -fx-hover-base;
}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-text-fill: secondary-contrast-color;
}
/*******************************************************************************
 *                                                                             *
 * TitledPane                                                                  *
 *                                                                             *
 ******************************************************************************/
.titled-pane > .title {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
}
.titled-pane:focused > .title {
    -fx-background-color: -fx-faint-focus-color, -fx-focus-color, -fx-body-color; 
    -fx-background-insets: 0.0, 1.0, 4.0;    
}
.titled-pane > .title:hover {
    -fx-color: -fx-base;
}
.titled-pane > .title > .arrow-button > .arrow,
.titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0.0;
    -fx-effect: null;
}
.titled-pane > .title:hover > .arrow-button > .arrow {
    -fx-background-color: derive(-fx-hover-base, -50.0%);
    -fx-background-insets: 0.0;
}
/*******************************************************************************
 *                                                                             *
 * SplitPane                                                                   *
 *                                                                             *
 ******************************************************************************/
.split-pane:horizontal > .split-pane-divider:hover {
   -fx-background-color: -fx-box-border, -fx-hover-base;
   -fx-background-insets: 0.0, 0.0 1.0 0.0 1.0;
}
.split-pane:vertical > .split-pane-divider:hover {
   -fx-background-color: -fx-box-border, -fx-hover-base;
   -fx-background-insets: 0.0, 1.0 0.0 1.0 0.0;
}
.split-pane:horizontal > .split-pane-divider:pressed {
   -fx-background-color: -fx-box-border, -fx-pressed-base;
   -fx-background-insets: 0.0, 0.0 1.0 0.0 1.0;
}
.split-pane:vertical > .split-pane-divider:pressed {
   -fx-background-color: -fx-box-border, -fx-pressed-base;
   -fx-background-insets: 0.0, 1.0 0.0 1.0 0.0;
}
/*******************************************************************************
 *                                                                             *
 * ColorPicker                                                                 *
 *                                                                             *
 ******************************************************************************/
.color-palette {
    -fx-background-color: -fx-hover-base, -fx-base;
}
.color-palette > .color-picker-grid > .color-square:selected {
    -fx-background-color: -fx-hover-base;
}
.custom-color-dialog .color-rect-pane .color-rect-border,
.custom-color-dialog > .color-rect-pane > .color-bar,
.custom-color-dialog .controls-pane .current-new-color-grid #current-new-color-border {
    -fx-border-color: derive(-fx-hover-base, -20.0%);
}
.custom-color-dialog > .color-rect-pane #color-rect-indicator,
.custom-color-dialog > .color-rect-pane > .color-bar > #color-bar-indicator {
    -fx-border-color: -fx-hover-base;
    -fx-border-width: 2.0;
}
/*******************************************************************************
 *                                                                             *
 * Pagination                                                                  *
 *                                                                             *
 ******************************************************************************/
.pagination > .pagination-control > .control-box > .number-button:selected {   
    -fx-background-color: transparent, -fx-hover-base, -fx-inner-border, -fx-body-color;
    -fx-text-fill: secondary-contrast-color;
}
.pagination > .pagination-control > .control-box > .number-button:selected:hover:armed {   
    -fx-background-color: transparent, -fx-hover-base, -fx-inner-border, -fx-body-color;
}
.pagination > .pagination-control > .control-box > .number-button:selected:hover {   
    -fx-background-color: transparent, -fx-hover-base, -fx-hover-base, -fx-hover-base;
    -fx-text-fill: -fx-dark-text-color;
}
.pagination > .pagination-control > .control-box > .bullet-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected:hover:armed {   
    -fx-background-color: transparent, -fx-hover-base, -fx-inner-border, -fx-body-color;
}
/*******************************************************************************
*                                                                              *
* List, Tree, Table COMMON                                                     *
*                                                                              *
*******************************************************************************/
/* Selected rows */
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:filled:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell .tree-table-cell:filled:selected {
    -fx-text-fill: secondary-contrast-color;
}
/*******************************************************************************
*                                                                              *
* TreeView and TreeCell                                                        *
*                                                                              *
*******************************************************************************/
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected > .tree-disclosure-node > .arrow,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected > .tree-disclosure-node > .arrow {
    -fx-background-color: secondary-contrast-color;
}
/*******************************************************************************   
*                                                                              *
* TableView                                                                    *
*                                                                              *
*******************************************************************************/
.table-view,
.tree-table-view {
	-fx-hover-base: primary-contrast-color;
    -fx-table-cell-border-color: derive(-fx-hover-base, -30.0%);
}
/*******************************************************************************
 *                                                                             *
 * Table Cells                                                                 *
 *                                                                             *
 ******************************************************************************/
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled > .check-box-table-cell:selected > .check-box > .box,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled > .check-box-table-cell:selected > .check-box > .box,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected > .check-box-table-cell > .check-box > .box,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected > .check-box-table-cell > .check-box > .box {
    -fx-background-color: secondary-contrast-color, -fx-background;
}
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled > .check-box-table-cell:selected > .check-box > .box,
.tree-table-view > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled > .check-box-table-cell:selected > .check-box > .box,
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected > .check-box-table-cell > .check-box > .box,
.tree-table-view > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected > .check-box-table-cell > .check-box > .box {
    -fx-background-color: -fx-hover-base, -fx-background;
}
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected > .check-box-table-cell > .check-box:selected > .box > .mark,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell:filled:selected > .check-box-table-cell > .check-box:selected > .box > .mark {
    -fx-background-color: secondary-contrast-color !important;
}
/*******************************************************************************
 *                                                                             *
 * Tooltip                                                                     *
 *                                                                             *
 ******************************************************************************/
.tooltip {
    -fx-background-color: -fx-hover-base, rgba(30.0, 30.0, 30.0, 0.8);
    -fx-background-radius: 6.0px, 5.0px;
    -fx-background-insets: 0.0, 1.0;
    -fx-text-fill: -fx-hover-base;
    -fx-font-size: 1.0em;
    -fx-font-weight: bold;
}
